<a href="https://colab.research.google.com/github/Jeyp69/Data-Frames-in-Python/blob/main/Welcome_to_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

# Sample sales dataset (20 rows)
data = {
    "OrderID": range(1001, 1021),
    "Product": [
        "Laptop", "Mouse", "Keyboard", "Monitor", "Laptop",
        "Headphones", "Mouse", "Chair", "Desk", "Laptop",
        "Printer", "Keyboard", "Monitor", "Mouse", "Laptop",
        "Headphones", "Desk", "Monitor", "Printer", "Chair"
    ],
    "Category": [
        "Electronics", "Accessories", "Accessories", "Electronics", "Electronics",
        "Accessories", "Accessories", "Furniture", "Furniture", "Electronics",
        "Electronics", "Accessories", "Electronics", "Accessories", "Electronics",
        "Accessories", "Furniture", "Electronics", "Electronics", "Furniture"
    ],
    "Quantity": [2, 5, 3, 4, 1, 6, 10, 2, 1, 3, 2, 4, 2, 7, 5, 3, 2, 4, 1, 6],
    "Price": [800, 20, 50, 200, 850, 40, 25, 150, 300, 900, 120, 55, 250, 20, 750, 35, 280, 220, 110, 180],
    "Customer": [
        "Alice", "Bob", "Charlie", "Diana", "Ethan",
        "Fiona", "George", "Hannah", "Ian", "Jane",
        "Kyle", "Laura", "Mike", "Nina", "Oscar",
        "Paul", "Queen", "Robert", "Sarah", "Tom"
    ],
    "Region": [
        "North", "South", "East", "West", "North",
        "South", "East", "West", "North", "South",
        "East", "West", "North", "South", "East",
        "West", "North", "South", "East", "West"
    ]
}

# Create DataFrame
df = pd.DataFrame(data)

# Compute Total column
df["Total"] = df["Quantity"] * df["Price"]

print(df)

# Step 2: Show first 5 rows
print(df.head())

# Step 3: Print DataFrame shape
print("Shape:", df.shape)

# Step 4: Show column names
print("Columns:", df.columns)

    OrderID     Product     Category  Quantity  Price Customer Region  Total
0      1001      Laptop  Electronics         2    800    Alice  North   1600
1      1002       Mouse  Accessories         5     20      Bob  South    100
2      1003    Keyboard  Accessories         3     50  Charlie   East    150
3      1004     Monitor  Electronics         4    200    Diana   West    800
4      1005      Laptop  Electronics         1    850    Ethan  North    850
5      1006  Headphones  Accessories         6     40    Fiona  South    240
6      1007       Mouse  Accessories        10     25   George   East    250
7      1008       Chair    Furniture         2    150   Hannah   West    300
8      1009        Desk    Furniture         1    300      Ian  North    300
9      1010      Laptop  Electronics         3    900     Jane  South   2700
10     1011     Printer  Electronics         2    120     Kyle   East    240
11     1012    Keyboard  Accessories         4     55    Laura   West    220
12     1013     Monitor  Electronics         2    250     Mike  North    500
13     1014       Mouse  Accessories         7     20     Nina  South    140
14     1015      Laptop  Electronics         5    750    Oscar   East   3750
15     1016  Headphones  Accessories         3     35     Paul   West    105
16     1017        Desk    Furniture         2    280    Queen  North    560
17     1018     Monitor  Electronics         4    220   Robert  South    880
18     1019     Printer  Electronics         1    110    Sarah   East    110
19     1020       Chair    Furniture         6    180      Tom   West   1080
   OrderID   Product     Category  Quantity  Price Customer Region  Total
0     1001    Laptop  Electronics         2    800    Alice  North   1600
1     1002     Mouse  Accessories         5     20      Bob  South    100
2     1003  Keyboard  Accessories         3     50  Charlie   East    150
3     1004   Monitor  Electronics         4    200    Diana   West    800
4     1005    Laptop  Electronics         1    850    Ethan  North    850
Shape: (20, 8)
Columns: Index(['OrderID', 'Product', 'Category', 'Quantity', 'Price', 'Customer',
       'Region', 'Total'],
      dtype='object')